{% extends "layout.html" %}

{% set active_page = 'preferences' %}
{% block title %}Preferencias{% endblock %}

{% block content %}
  <div class="pagebox">
    <div class="pagebox-block">
      <h2 class="pagebox-title">Preferencias</h2>
      <dl class="pagebox-text">

        <dt>Idioma</dt>
        <dd><a href="{{ url_for('preferences.select_language') }}">español</a></dd>

        <dt>Formato de fecha</dt>
        <dd><a href="{{ url_for('preferences.select_date_format') }}">14/04/2017</a></dd>

        <dt>Formato de número</dt>
        <dd><a href="{{ url_for('preferences.select_number_format') }}">123.456,00</a></dd>

        <dt>Timezone</dt>
        <dd><a href="{{ url_for('preferences.select_timezone') }}">UTC -03:00</a></dd>

      </dl>
    </div>
  </div>
{% endblock %}

{# vim:ft=htmljinja:sw=2
#}
