<!DOCTYPE html>
<html lang="es-ar">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"-->

    <!-- style webassets -->
    {% assets "style" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>{% block title %}{% endblock %} - Manager</title>
    {%- block page_style %}{% endblock %}
  </head>

  <body>
    <noscript>
      <div class="print-display-none" style="background-color: yellow; padding: 10px; text-align: center; font-weight: bold; border-bottom: 1px solid #ccc; font-size: 16px;">JavaScript Error</div>
    </noscript>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand" href="{{ url_for('web.index') }}">Manager</a>
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="#">Empresas</a>
          <a class="nav-item nav-link" href="{{ url_for('preferences.index') }}">Preferencias</a>
          <a class="nav-item nav-link" href="{{ url_for('web.about') }}">Acerca de</a>
        </div>
        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              User name
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>


  <!-- js webassets -->
  {% assets "script" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {%- block page_script %}{% endblock %}
  </body>
</html>
