{% extends "business/layout.html" %}

{% block title %}Cuentas{% endblock %}
{% set buz_active_page = 'accounts' %}

{% set count = [0] %}
{% macro render_account_row(account, parent=None) %}
  {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
  <tr class="{% if account.has_childs %}has-childs{% endif %} {% if parent is none %}top-account{% endif %}" {% if parent %}data-pnode="treetable-parent-{{ parent }}"{% endif %} data-node="treetable-{{ count[0] }}">
    <td class="account-code">{{ account.code }}</td>
    <td class="account-name">{{ account.name }}</td>
    <td class="account-balance">$ {{ account.balance }},00</td>
  </tr>
  {% set count_data = count[0] + 0 %}
  {% for child in account.children %}
    {{ render_account_row(child, count_data) }}
  {% endfor %}
{% endmacro %}

{% set has_accounts = accounts.count() > 0 %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Plan de cuentas</h5>
      {% if has_accounts %}<button class="btn btn-primary btn-sm ml-auto">Nueva Cuenta</button>{% endif %}
    </div>
    {% if has_accounts %}
    <div class="card-block">
      <table class="table table-sm account-chart">
        <tbody>
          {% for account in accounts %}
            {{ render_account_row(account) }}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div class="card-block text-center">
        <h4 class="card-title">No tiene un plan de cuentas</h4>
        <p class="card-text">Cree su plan de cuentas siguiendo el asistente o importe un plan de cuentas.</p>
        <a class="btn btn-primary mr-3" href="{{ url_for('.accounts') }}">Crear Plan de Cuentas</a>
        <a class="btn btn-primary disabled" href="{{ url_for('.accounts') }}">Importar Plan de Cuentas</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block page_script %}
  <script>
    $('.account-chart').treeFy({
      treeColumn: 1,
      initState: 'collapsed',
    });
  </script>
{% endblock %}

{# vim:ft=htmljinja:sw=2
#}
