{% extends "layout.html" %}

{% set active_page = 'business' %}
{% block title %}Empresas{% endblock %}

{% set buz_menu = [
    ('summary', 'Resumen'),
    ('accounts', 'Cuentas'),
    ('customers', 'Clientes'),
    ('suppliers', 'Proveedores'),
] %}

{% set buz_active_page = buz_active_page|default('index') %}

{% block content %}
  <div class="pagecard">
    <div class="card-header">
      <h5 class="card-title">Carlos, Augusto y Germán Roccasalva S.H.</h5>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col">
          <div class="nav nav-pills flex-column">
            {% for id, caption in buz_menu %}
              <a class="nav-link{% if id == buz_active_page %} active{% endif %}" href="{{ url_for('business.' + id) }}">{{ caption }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="business-content col-10">
          {% block buz %}
            <div class="card text-center">
              <div class="card-header">
                <span>Uncomplete template</span>
              </div>
              <div class="card-block">
                <h4 class="card-title">Uncomplete template</h4>
                <p class="card-text">Fill the content of <mark>buz</mark> block.</p>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
