{% extends "business/layout.html" %}

{% block title %}Facturas de compra{% endblock %}
{% set buz_active_page = 'purchase_documents' %}

{% macro render_document_row(document) %}
  <tr>
    <td class="document-issue-date">{{ document.issue_date }}</td>
    <td class="document-number"><a href="{{ url_for('.documents', id=document.id) }}">{{ document.full_desc }}</a></td>
    <td class="supplier-name">{{ document.supplier.rz }}</td>
    <td class="document-amount">{{ document.amount }}</td>
    <td class="document-debt">{{ document.expired }}</td>
    <td class="document-state">
      <span class="badge">{{ document.state }}</span>
    </td>
  </tr>
{% endmacro %}

{% set has_documents = False %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Facturas de compra</h5>
      {% if has_documents %}<button class="btn btn-primary btn-sm ml-auto">Nueva Factura</button>{% endif %}
    </div>
    {% if has_documents %}
      <div class="card-block p-0">
        <table class="table table-bordered table-sm m-0 purchase-documents-list">
          <thead>
            <tr>
              <th class="document-issue-data-header">Fecha</th>
              <th class="document-number-header">Número</th>
              <th class="supplier-name-header">Proveedor</th>
              <th class="document-amount-header">Total factura</th>
              <th class="document-debt-header">Saldo adeudado</th>
              <th class="document-state-header">Estado</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th class="document-amount-footer">$ 57.449,25</th>
              <th class="document-debt-footer">$ 12.384,25</th>
              <th class="document-state-footer"></th>
            </tr>
          </tfoot>
          <tbody>
            <!-- faked data -->
            <tr>
              <td class="document-issue-date">17/04/2017</td>
              <td class="document-number"><a href="#">FA 000103-00456321</a></td>
              <td class="supplier-name">FV S.A.</td>
              <td class="document-amount">$ 12.384,25</td>
              <td class="document-debt">$ 12.384,25</td>
              <td class="document-state">
                <span class="badge badge-warning">Vence en 4 días</span>
              </td>
            </tr>
            <tr>
              <td class="document-issue-date">29/03/2017</td>
              <td class="document-number"><a href="#">FA 000045-00006589</a></td>
              <td class="supplier-name">IPS S.A.C.I. y F.</td>
              <td class="document-amount">$ 45.065,00</td>
              <td class="document-debt">$ 0,00</td>
              <td class="document-state">
                <span class="badge badge-success">Pagado</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="card-block text-center">
        <h4 class="card-title">No hay documentos todavía.</h4>
        <p class="card-text">Cree documentos nuevos o importe sus documentos existentes.</p>
        <a class="btn btn-primary mr-3" href="{{ url_for('.purchase_documents') }}">Crear Documento</a>
        <a class="btn btn-primary disabled" href="{{ url_for('.purchase_documents') }}">Importar Documentos</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{# vim:ft=htmljinja:sw=2
#}
