{% extends "business/layout.html" %}

{% block title %}Proveedores{% endblock %}
{% set buz_active_page = 'suppliers' %}

{% macro render_supplier_row(supplier) %}
  <tr>
    <td><a href="{{ url_for('business.supplier_view', id=supplier.id) }}">{{ supplier.rz }}</a></td>
    <td>{{ supplier.name or '' }}</td>
    <td></td>
    <td></td>
  </tr>
{% endmacro %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Proveedores</h5>
      <a class="btn btn-primary btn-sm ml-auto" href="{{ url_for('business.supplier_new') }}">Nuevo Proveedor</a>
    </div>
    {% if suppliers.count() > 0 %}
      <div class="card-block p-0">
        <table class="table table-bordered table-sm m-0 suppliers-list">
          <thead>
            <tr>
              {% for title in ["Razón Social", "Nombre", "Facturas", "A pagar"] %}
                <th><a href="#">{{ title }}</a></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for supplier in suppliers %}
              {{ render_supplier_row(supplier) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer p-0">
        <nav>
          <ul class="pagination justify-content-end mt-3 mr-3">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
              <span class="page-link">2</span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
  {% else %}
    <div class="card-block">
      <h4 class="card-title">No hay proveedores todavía</h4>
      <span class="card-text">Cree proveedores nuevos en forma individual o importe sus proveedores.</span>
    </div>
  {% endif %}
  </div>
{% endblock %}

{% block page_script %}
  <script>
    $(function() {
      $('.suppliers-list').tablesorter({
        headerTemplate: '{content} {icon}',
        cssIcon: "fa ml-2",
        cssIconAsc: "fa-caret-down",
        cssIconDesc: "fa-caret-up",
        cssIconNone: "fa-fw",
        selectorSort: "a",
      }).bind("sortBegin", function(e, table) {
        console.log("sortBegin:", e, table);
      });
    });
  </script>
{% endblock %}

{# vim:ft=htmljinja:sw=2
#}
