{% extends "business/layout.html" %}

{% block title %}Proveedores{% endblock %}
{% set buz_active_page = 'suppliers' %}

{% macro render_supplier_row(supplier) %}
  <tr>
    <td><a href="{{ url_for('business.supplier_view', id=supplier.id) }}">{{ supplier.rz }}</a></td>
    <td>{{ supplier.name or '' }}</td>
    <td></td>
    <td></td>
  </tr>
{% endmacro %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Proveedores</h5>
      <a class="btn btn-primary btn-sm ml-auto" href="{{ url_for('business.supplier_new') }}">Nuevo Proveedor</a>
    </div>
    {% if suppliers.count() > 0 %}
      <table class="table table-sm suppliers-list">
        <thead>
          <tr>
            {% for title in ["Razón Social", "Nombre", "Facturas", "A pagar"] %}
              <th><a href="#">{{ title }}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
            {{ render_supplier_row(supplier) }}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <span>No hay proveedores cargados todavía.</span>
    {% endif %}
  </div>
{% endblock %}

{% block page_script %}
  <script>
    $(function() {
      $('.suppliers-list').tablesorter({
        headerTemplate: '{content} {icon}',
        cssIcon: "fa ml-2",
        cssIconAsc: "fa-caret-down",
        cssIconDesc: "fa-caret-up",
        cssIconNone: "fa-fw",
        selectorSort: "a",
      }).bind("sortBegin", function(e, table) {
        console.log("sortBegin:", e, table);
      });
    });
  </script>
{% endblock %}

{# vim:ft=htmljinja:sw=2
#}
