{% extends "business/layout.html" %}

{% block title %}{% if new %}Nuevo{% else %}Editar{% endif %} proveedor{% endblock %}
{% set buz_active_page = 'suppliers' %}

{% macro render_form_group(field, placeholder=None) %}
  <div class="form-group{% if field.errors %} has-danger{% endif %}">
    {{ field.label(class_="form-control-label") }}
    {{ field(class_="form-control", placeholder=placeholder if placeholder else '') }}
    {% if field.errors %}
      <div class="form-control-feedback">
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    {% if field.description %}
      <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
  </div>
{% endmacro %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Nuevo Proveedor</h5>
    </div>
    <div class="card-block">
      <form method="post" id="supplier-form">
        {{ form.hidden_tag() }}
        {{ render_form_group(form.rz) }}
        {{ render_form_group(form.name, placeholder="Opcional") }}
        {% if new %}
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="btnCreate">Crear</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" id="btnCreateAdd">Crear y agregar otro</button>
          </div>
        </div>
        {% else %}
        <span>Write update button and functionality</span>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script>
    $(function() {
      $('#btnCreate').click(function(e) {
        var data = $('#supplier-form').find('select, textarea, input').serialize();
        axios.post('', data)
          .then(function(response) {
            $(location).attr('href', '{{ url_for(".suppliers") }}');
          })
          .catch(function(error) {
            console.log('error:', error);
          });
      });
      $('#btnCreateAdd').click(function(e) {
        var data = $('#supplier-form').find('select, textarea, input').serialize();
        axios.post('', data)
          .then(function(response) {
            $('#supplier-form')[0].reset();
          })
          .catch(function(error) {
            console.log('error:', error);
          });
      });
    });
  </script>
{% endblock %}
