{% extends "business/layout.html" %}

{% block title %}{% if new %}Nuevo{% else %}Editar{% endif %} proveedor{% endblock %}
{% set buz_active_page = 'suppliers' %}

{% macro render_form_group(field, placeholder=None) %}
  <div class="form-group{% if field.errors %} has-danger{% endif %}">
    {{ field.label(class_="form-control-label") }}
    {{ field(class_="form-control", placeholder=placeholder if placeholder else '') }}
    {% if field.errors %}
      <div class="form-control-feedback">
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    {% if field.description %}
      <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
  </div>
{% endmacro %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Nuevo Proveedor</h5>
    </div>
    <div class="card-block">
      <form method="post">
        {{ form.hidden_tag() }}
        {{ render_form_group(form.rz) }}
        {{ render_form_group(form.name, placeholder="Opcional") }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="cancel" class="btn btn-warning">Cancelar</button>
      </form>
    </div>
  </div>
{% endblock %}
