{% extends "business/layout.html" %}

{% block title %}Proveedores{% endblock %}
{% set buz_active_page = 'suppliers' %}

{% macro render_supplier_row(supplier) %}
  <tr>
    <td><a href="{{ url_for('business.supplier_view', id=supplier.id) }}">{{ supplier.rz }}</a></td>
    <td>{{ supplier.name or '' }}</td>
    <td></td>
    <td></td>
  </tr>
{% endmacro %}

{% block buz %}
  <div class="card">
    <div class="card-header d-flex">
      <h5>Proveedores</h5>
      <a class="btn btn-primary btn-sm ml-auto" href="{{ url_for('business.supplier_new') }}">Nuevo Proveedor</a>
    </div>
    <table class="table table-sm suppliers-list">
      <thead>
        <tr>
          <th>Razón Social</th>
          <th>Nombre</th>
          <th>Facturas</th>
          <th>A pagar</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in suppliers %}
          {{ render_supplier_row(supplier) }}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
